.body{
    margin:0%;
    
}
#logo{
    font-weight: 900;
    font-size: 30px;

}


.header{
    height:15vh;
    width:100%;
    padding:20px;
    box-sizing: border-box;
    background-color:rgb(207, 189, 163);
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 0px gray;
    
}
.menu-items{
    margin-right: 20px;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    color:rgb(18, 16, 16);
}
.menu-items:hover{
    color:brown
}
#quote{
    margin-top: 20%;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}